html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
}

body {
    color: #fff;
    margin: 0;
    position: relative;
}

header, footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    color: #353535;
}

header>nav{
    display: flex;
    justify-content: space-between;
}

header>nav>ul{
    display: flex;
    list-style: none;
}

header>nav>ul>li{
    margin: 0 10px;
    font-size: larger;
}

a{
    color: #353535;
    text-decoration: none;
}

a:hover{
    transition: 0.3s;
    color: #15a846;
}

main{
    background-image: url('../img/image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.spacer{
    margin: 1.25em;
}

.sectionTitle{
    text-align: left;
    font-size: 2.5em;
    margin: 1em 0;
    margin-left: 0.5em;
}

#presentation>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
}

#presentation>div>*{
    margin-left: 1%;
    margin-right: 1%;
}

#presentation p{
    font-size: 1.5em;
}

#presentation>div>img{
    width: 200%;
    border-radius: 10%;
}

#hard-skills {
    max-width: 600px;
}

#hard-skills>div{
    margin: 0 auto;
}

.carousel {
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel-track-container {
    background-color: #ffffff71;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-item {
    min-width: 100%; /* Chaque élément prend toute la largeur du conteneur */
    text-align: center; /* Centre le texte */
    padding: 10px; /* Espacement autour du texte */
}

.carousel-item img {
    max-width: 100px; /* Ajuste la taille maximale de l'image */
    height: auto; /* Conserve le ratio de l'image */
    display: block; /* S'assure que l'image s'affiche comme un bloc */
    margin: 0 auto; /* Centre l'image */
}


#parcours-scolaire, #experiences-professionnel {
    max-width: 600px;
}

.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #15a81c;
    margin: 0 auto;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #15a81c;
    border-radius: 50%;
}

.timeline-content {
    margin-left: 30px;
    padding: 10px 15px;
    background-color: #f0f8ff;
    border-radius: 8px;
    color: #333;
}

.timeline-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.timeline-content span {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}
